@charset "UTF-8";
html,
body {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  background: #D7A6B3;
  font-family: "Montserrat", sans-serif;
}

main,
section {
  justify-content: center;
  margin: 0 auto;
  height: auto;
  background-color: #D7A6B3;
  /* padding-top: 70px; */
}

/*=====================*/
/*contenedor whatsapp fijo hover*/
/*=====================*/
.contenedor-w-fijo:hover {
  background-color: rgba(17, 171, 153, 0.568627451);
}

/*=====================*/
/*seccion whatsapp fijo*/
/*=====================*/
.w-fijo img {
  width: 70px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1;
}

/*=====================*/
/*seccion texto whatsapp fijo*/
/*=====================*/
.w-texto-fijo a {
  position: fixed;
  right: 85px;
  bottom: 20px;
  width: 310px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
  background: #11ab99;
  border: 1px solid white;
  border-radius: 50px 0 50px 0;
  color: white;
  font-weight: bold;
  order: 1;
  z-index: 1;
}

/*=====================*/
/*seccion contendedor rincon de luz*/
/*=====================*/
.rincon-de-luz {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-row-gap: 5px;
  height: 100%;
  width: 80%;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
  margin: 0px auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: radial-gradient(ellipse at center, #E5CDC8, white, #E5CDC8);
}

.rincon-de-luz div {
  width: 100%;
}

.texto-principal {
  justify-content: center;
}

h1 {
  width: 100%;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

h1:hover {
  background-color: #E5CDC8;
  color: white;
  cursor: pointer;
}

section {
  width: 100%;
}

.subtitulo {
  width: 100%;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

/*=====================*/
/*seccion Rincon de Luz cualidades de imagenes y texto*/
/*=====================*/
.cualidades img {
  max-width: 150px;
  max-height: max-content;
  text-align: center;
  align-items: center;
}

.cualidades p {
  width: 100%;
  font-size: 15px;
  text-align: center;
  align-items: center;
  align-content: center;
}

.cualidades div {
  margin: 0px auto;
  height: auto;
}

.cualidades img:hover {
  transition: all 1.5s;
  transform: scale(1.2);
}

.cualidades {
  display: flex;
  align-content: space-between;
  text-align: center;
  align-items: center;
  height: 100%;
  flex-wrap: nowrap;
}

/*=====================*/
/*seccion oferta del mes*/
/*=====================*/
.contenedor-oferta-mes {
  display: grid;
  grid-template-rows: auto auto auto auto;
  width: 100%;
  height: auto;
}

.texto-oferta-mes {
  text-align: center;
  width: 100%;
  font-size: 60px;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, white, #E5CDC8, #E5CDC8);
}

.oferta-mes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto;
}

.oferta-mes div {
  text-align: center;
  margin: 10px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: #ffffff;
}

.oferta-mes p {
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.oferta-mes a {
  text-align: center;
}

.texto__pañal {
  margin: 30px auto 0px;
  bottom: 0;
}

.oferta-mes img {
  max-width: 80%;
  margin: 10px auto;
}

.precio__pañal {
  margin: 0px auto 30px;
}

/*=====================*/
/*seccion destacados*/
/*=====================*/
.encabezado-1 {
  margin-top: 90px;
  font-size: 40px;
  text-align: center;
  background: #E5CDC8;
  width: 100%;
}

.cuadro-de-destacados {
  display: flex;
  width: 100%;
  background: #E5CDC8;
  margin: 10px auto;
  padding: 0;
}

.texto-precio-destacado-1 {
  width: 100%;
  display: inline-block;
  text-align: center;
  align-items: center;
  width: auto;
  height: auto;
  border: 1px solid rgb(10, 10, 10);
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.texto-precio-destacado-2 {
  width: 100%;
  display: inline-block;
  text-align: center;
  align-items: center;
  width: auto;
  height: auto;
  border: 1px solid rgb(10, 10, 10);
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.texto-precio-destacado-3 {
  width: 100%;
  display: inline-block;
  text-align: center;
  align-items: center;
  width: auto;
  height: auto;
  border: 1px solid rgb(10, 10, 10);
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.cuadro-de-destacados img {
  width: 90%;
  height: auto;
}

.cuadro-de-destacados div {
  width: 33%;
  text-align: center;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin: 10px 10px;
  border: 1px solid black;
}

/*=====================*/
/*seccion medios de pago*/
/*=====================*/
.medios-de-pago {
  text-align: center;
  margin-top: 60px;
  background-color: #D7A6B3;
}

.medios-de-pago p {
  font-size: 30px;
  text-align: center;
}

.medios-de-pago img {
  width: 50%;
  margin: auto 0;
}

/*=====================*/
/*footer*/
/*=====================*/
footer {
  background-color: #D7A6B3;
}

footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 100px;
  background-color: #E5CDC8;
  margin: 0 auto;
  justify-content: center;
}

footer div img:hover {
  transform: scale(1.5);
  transition: all 1s;
}

footer img {
  width: 60px;
  margin: 10px 30px;
}

footer p {
  display: block;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

/*=====================*/
/*SECCION 2, Productos*/
/*=====================*/
/*=====================*/
/*Contenedor de productos con navegador*/
/*=====================*/
.contenedor_productos_section {
  background-color: #E5CDC8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  top: 0px;
  width: auto;
  height: auto;
}

/*=====================*/
/*Contenedor de productos DIV*/
/*=====================*/
.contenedor-productos div {
  background-color: #ffffff;
  margin: 10px;
}

section img {
  width: 80%;
}

.producto_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contenedor_productos_section p {
  font-size: 25px;
}

/*=====================*/
/*navegador*/
/*=====================*/
.navegador_productos {
  display: flex;
  justify-content: center;
  height: auto;
  color: black;
  margin: 0 auto;
  background-color: white;
  width: auto;
  /* margin-top: -45px; */
  flex-wrap: nowrap;
}

.navegador_productos_menu {
  margin-right: 10px;
  display: flex;
  list-style-type: none;
  margin: 5px auto;
  color: black;
}

.navegador_productos_menu li {
  font-size: 15px;
  margin: 5px 15px;
  text-transform: uppercase;
  width: max-content;
}

.navegador_productos_menu a {
  text-decoration: none;
  width: auto;
  margin: 0 auto;
}

.navegador_productos_menu li:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}

.navegador_productos_menu li a:hover {
  color: rgba(0, 0, 0, 0.9254901961);
  transition: all 0.4s;
  background-color: #E5CDC8;
  padding: 5px;
  opacity: 0.8;
  border-radius: 10px;
}

/*=====================*/
/*SECCION 3, Ofertas*/
/*=====================*/
/*=====================*/
/*SECCION 4, Contacto*/
/*=====================*/
.consultas {
  background-color: #E5CDC8;
}

/*=====================*/
/*SECCION 5, Sobre nosotros*/
/*=====================*/
/*=====================*/
/*articulo*/
/*=====================*/
.articulo h2 {
  margin: 30px;
  text-align: center;
  font-size: 30px;
  margin: 20px auto;
}

.articulo p {
  margin: 15px;
  font-size: 15px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.contenedor_integrantes {
  display: grid;
  grid-template-columns: auto auto auto;
  width: auto;
  height: auto;
  align-items: center;
  margin: 50px 20px;
}

.contenedor_integrantes img {
  width: 200px;
  border-radius: 1000px;
  box-shadow: 10px 10px 10px rgb(37, 33, 33);
}

.contenedor_integrantes img:hover,
.contenedor_integrantes .titulo_integrantes:hover {
  transform: scale(1.2);
  transition: all 0.1s;
  border-radius: 0px;
}

.contenedor_integrantes div {
  width: auto;
  text-align: center;
  border: 1px solid black;
  margin: 5px;
  border-radius: 15px;
}

.contenedor_integrantes h2 {
  font-size: 20px;
  margin: 15px;
}

.titulo_integrantes {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

.fabrica {
  display: flex;
  justify-content: center;
}

.fabrica img {
  width: 90%;
}

.video {
  display: flex;
  justify-content: center;
}

/*=====================*/
/*MEDIA QUERIES*/
/*=====================*/
@media (max-width: 450px) {
  .menu {
    width: 100%;
    justify-content: center;
  }
  .menu li a {
    font-size: 15px;
    padding: 0 auto;
  }
  footer div img {
    width: 35px;
    margin: 15px;
  }
  .fabrica {
    display: flex;
    justify-content: center;
  }
  .fabrica img {
    width: 70%;
  }
  .video {
    width: 90% x;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 745px) {
  .menu {
    width: 100%;
    justify-content: center;
  }
  .menu li a {
    font-size: 15px;
    padding: 0 auto;
  }
  .formulario,
.lupa,
.buscador {
    display: none;
  }
  .logo {
    width: 50px;
    margin-left: 0%;
  }
  .contenedor_logo h1 {
    font-size: 15px;
  }
  .nav_superior {
    justify-content: center;
  }
  .contenedor-w-fijo {
    width: 230px;
    height: 70px;
    right: 5px;
    bottom: 5px;
  }
  .w-fijo img {
    width: 55px;
    right: 14px;
    bottom: 15px;
  }
  .w-texto-fijo a {
    right: 75px;
    bottom: 15px;
    font-size: 11px;
    width: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  footer div img {
    width: 45px;
    margin: 15px;
    bottom: 5px;
  }
  .contenedor_productos_section {
    grid-template-columns: 1fr 1fr;
    width: auto;
    height: auto;
    top: 0;
  }
  .cualidades {
    flex-wrap: wrap;
  }
  .cualidades div {
    width: auto;
    margin: auto auto;
  }
  .cualidades p {
    font-size: 15px;
  }
  .oferta-mes {
    grid-template-columns: repeat(2, 1fr);
  }
  .navegador_productos_menu {
    flex-wrap: wrap;
    font-size: 10px;
  }
  .menu > li > a {
    font-size: 10px;
    padding: 5px 5px;
  }
  .navegador_productos_menu li {
    font-size: 10px;
    font-weight: 700;
  }
  .contenedor_integrantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: auto;
    align-items: center;
    margin: 50px 20px;
  }
  .contenedor_integrantes div {
    width: 80%;
    text-align: center;
    border: 1px solid black;
    margin: 5px;
    border-radius: 15px;
  }
  .video div {
    width: 80%;
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style2.css.map */
